@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #fbfbfb;
    font-family: 'Rubik', sans-serif;
    text-align: center;
}

header {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    min-height: 90px;
    position: relative;
}



header::after {
    position: absolute;
    top: 0px;
    left: 0px;
    content: ' ';
    background-color: rgb(47, 38, 48);
    width: 100%;
    height: 100%;
    filter: blur(10px);
    z-index: -1;
}


header nav ul{
    display:inline-flex;
    text-decoration: none;
    list-style: none;
}

header nav ul li{
    padding: 0px 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

.foto{
    display: block;
    margin: auto;
    border-radius: 100%;
    width: 400px;
    margin-top: 50px;

}

main {
    max-width: 1200px;
    margin: auto;
    
}

h1{
    font-size: 40px;
    padding: 20px;
}

.contenedor-1{
    padding: 20px;
}

.boton {
    width: 110px;
    height: 30px;
    border-radius: 30px;
    background-color: #af599e;
    color: #fbfbfb;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

h2{
    font-size: 30px;
    padding-bottom: 20px;
}

.contenedor-2{
    padding: 20px;
    background-color: rgba(175, 89, 158, 0.3);
    box-sizing: border-box;
    border-radius: 30px;
    margin-top: 100px;
    color:  #0f0f0f;
}

.contacto img{
    width: 100px;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin: 20px 0px 55px 0px; 
}

footer{
    background-color: #af599e;
    color: #fbfbfb;
    height: 90px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media(max-width:700px){
    header{
        width: auto
        height: 100vh;
    }
    main{
        margin: 0px 10px;
    } 
    body{
        margin: auto;
        height: auto;
        width: auto;
    }
    .contacto{
        width: auto;
        display: inline-flex;
    }
}
    
/* Para quitar los puntos a los items de listas */
/* Para que los enlaces hereden el color de texto y no tengan subrayado */



/* Este max-width es para que el contenido no se "estire" demasiado hacia los costados y
*  el margin: auto; para tenerlo centrado fácilmente ;)
*/


/* Recomendaciones! 
*  - Comenzar desde lo más general y luego ir hacia lo mas específico, asignando primero
*    "estilos generales". Una buena idea sería comenzar por el <body> ;)
*
*  - Recuerden que queremos evitar "repetir código", en CSS usando la cualidad de la herencia
*    podemos setear ciertas propiedades en un elemento padre y dejar que sean heredadas (por ejemplo: font-size)
*
*  - Nadie sabe todas las propiedades CSS de memoria, si no saben como hacer algo no lo recuerdan, la respuesta
*    pueden encontrarla buscando en la web algo como "CSS como hacer ... " o "propiedad css para hacer ..."
*
*  - Usen mucho las herramientas para desarrolladores del navegador para ir
*    probando el CSS que escriben, resolver dudas y problemas.
*
*  - Paciencia, resiliencia y creatividad! No se desanimen, las primeras experiencias maquetando con HTML y CSS
*    pueden ser frustrantes, pero estas habilidades se van desarrollando con la experiencia, es como aprender
*    un trabajo manual, hacer una artesanía, tocar un instrumento musical... la práctica es todo!
*/
